name: Deploy Blazor to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        persist-credentials: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore api_csharp_httpclient/DemoBlazor/DemoBlazor.csproj

    - name: Publish
      run: dotnet publish api_csharp_httpclient/DemoBlazor/DemoBlazor.csproj -c Release -o ./out

    - name: Deploy to gh-pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out/wwwroot
        destination_dir: DemoAPI1
        publish_branch: gh-pages
        allow_empty_commit: true
        force_orphan: true
